/*-- scss:defaults --*/

$presentation-title-slide-text-align: left;

$callout-color-note: #006909;
$callout-color-tip: #006909;
$callout-color-caution: #006909;
$callout-color-warning: #006909;
$callout-color-important: #006909;

/*-- scss:rules --*/

/* Body ----- */

body {
  color: $brand-grey;
}

/* Root ----- */

:root {
  --r-heading-margin: 0 0 25px 0;
  --r-selection-background-color: #006909;
  --r-selection-color: #FFFFFF;
}

/* Headings ----- */

h2 {
  margin-bottom: 2rem;
}

/* Colors ----- */
.red {
  color: red;
}

.brand-green {
  color: $brand-green;
}

.brand-red {
  color: $brand-red;
}

.brand-brown {
  color: $brand-brown;
}

.brand-grey {
  color: $brand-grey;
}


/* Controls ----- */

.reveal .controls button {
  color: $brand-brown;
}

/* Others ----- */

.center-x {
  display: inline-block;
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.bold {
  font-weight: bold;
}
