/*-- scss:defaults --*/

$presentation-title-slide-text-align: left;

$callout-color-note: #014691;
$callout-color-tip: #1d8f01;
$callout-color-caution: #8f0170;
$callout-color-warning: #8f5a01;
$callout-color-important: #910c01;

/*-- scss:rules --*/

/* Additional Google Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Body ----- */

body {
  color: $brand-black;
}

/* Root ----- */

:root {
  --r-heading-margin: 0 0 25px 0;
  --r-selection-background-color: #014691;
  --r-selection-color: #FFFFFF;
}

/* Headings ----- */

// h2 {
//   margin-bottom: 0.5rem !important;
// }

/* Colors ----- */

.brand-blue {
  color: $brand-blue;
}

.brand-gray {
  color: $brand-gray;
}

.brand-black {
  color: $brand-black;
}

.brand-comp-blue-1 {
  color: $brand-comp-blue-1;
}

.brand-triad-blue-red {
  color: $brand-triad-blue-red;
}

.brand-square-blue-green{
  color: $brand-square-blue-green;
}

.brand-blue-l25 {
  color: $brand-blue-l25;
}

/* Controls ----- */

.reveal .controls button {
  color: $brand-blue;
}

/* Paged Table ----- */

.pagedtable-footer {
  font-size: large;
}

/* Slide Numbers ----- */

.reveal .slide-number {
  position: absolute !important;
  top: var(--r-controls-spacing) !important;
  right: var(--r-controls-spacing) !important;
  font-size: 0.5em !important;
  color: $brand-blue !important;
}

.reveal .slide-number>a[href*='title-slide'] {
  display: none;
}

/* Others ----- */

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.bold-extra {
  font-weight: 800;
}

.bold-black {
  font-weight: 900;
}
